.GamePage .Loader {
  position: relative; }
  .GamePage .Loader .Spinner {
    width: 100%;
    margin-top: 150px;
    position: absolute; }

.GamePage .GamePage-engine {
  overflow-x: auto !important;
  margin-top: 50px; }
  .GamePage .GamePage-engine > div {
    display: table;
    margin: 0 auto;
    border: 15px solid #F5F5F5; }
