.GamePage .Loader {
  position: relative; }
  .GamePage .Loader .Spinner {
    width: 100%;
    margin-top: 150px;
    position: absolute; }

.GamePage .GamePage-main {
  display: flex;
  flex-flow: row wrap;
  justify-content: center; }
  .GamePage .GamePage-main > div {
    margin: 50px 10px 10px 10px; }
  .GamePage .GamePage-main .GamePage-engine {
    overflow-x: auto !important; }
    .GamePage .GamePage-main .GamePage-engine > div {
      display: table;
      margin: 0 auto;
      border: 15px solid #F5F5F5; }
