.ResultsPage {

  padding-left: 15px;
  padding-right: 15px;

  .ResultsFilter {
    margin-top: 50px;
    margin-bottom: 50px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
  }

  .ResultsTable {
    margin: 0 auto;
    overflow-x: auto;
    max-width: 800px;

    .ResultsTable-title {
      margin: 20px 0 0 20px;
    }
  }
}