.BossPuzzle-3 {
  min-width: 450px;
  background-color: #F5F5F5; }
  .BossPuzzle-3 .SquareTile {
    font-size: 50px; }
  .BossPuzzle-3 .SquareTile {
    width: 150px;
    height: 150px;
    margin: 0; }

.BossPuzzle-4 {
  min-width: 500px;
  background-color: #F5F5F5; }
  .BossPuzzle-4 .SquareTile {
    font-size: 40px; }
  .BossPuzzle-4 .SquareTile {
    width: 125px;
    height: 125px;
    margin: 0; }

.BossPuzzle-5 {
  min-width: 500px;
  background-color: #F5F5F5; }
  .BossPuzzle-5 .SquareTile {
    font-size: 30px; }
  .BossPuzzle-5 .SquareTile {
    width: 100px;
    height: 100px;
    margin: 0; }

.BossPuzzle-row {
  padding: 0;
  margin: 0; }

.BossPuzzle-col {
  padding: 0; }
