$smallTile: 100px;
$mediumTile: 125px;
$bigTile: 150px;
$tileMargin: 0;

@mixin SquareTile($btnSize, $tileMargin) {
  .SquareTile {
    width: $btnSize;
    height: $btnSize;
    margin: $tileMargin;
  }
}

@mixin BossPuzzle($dimension, $btnSize) {
  min-width: $dimension * ($btnSize + 2 * $tileMargin);
  background-color: #F5F5F5;
  @include SquareTile($btnSize, $tileMargin);
}


.BossPuzzle-3 {
  .SquareTile { font-size: 50px; }
  @include BossPuzzle(3, $bigTile);
}

.BossPuzzle-4 {
  .SquareTile { font-size: 40px; }
  @include BossPuzzle(4, $mediumTile);
}

.BossPuzzle-5 {
  .SquareTile { font-size: 30px; }
  @include BossPuzzle(5, $smallTile);
}

.BossPuzzle-row {
  padding: 0;
  margin: 0;
}

.BossPuzzle-col {
  padding: 0;
}