.AppDrawer-user {
  display: flex;
  flex-direction: column;
  text-align: center;
  font-size: 15px;
  padding: 10px; }
  .AppDrawer-user > span {
    padding: 2px; }

.AppDrawer-content {
  width: 200px; }
