.Game {
  display: flex;
  flex-flow: column wrap; }
  .Game > div {
    display: flex;
    flex-direction: row; }
  .Game .Game-dashboard {
    flex-wrap: wrap;
    justify-content: flex-start;
    padding: 5px;
    margin-top: 5px;
    margin-bottom: 15px; }
    .Game .Game-dashboard > div {
      margin: 3px 5px 3px 5px; }
  .Game .Game-component {
    overflow-x: auto;
    justify-content: center; }
