.NewGameSetup {
  margin-top: 25px; }
  .NewGameSetup > div {
    padding: 10px; }
  .NewGameSetup .NewGameSetup-settings {
    display: flex;
    justify-content: center; }
  .NewGameSetup .NewGameSetup-modes {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin-top: 25px; }
    .NewGameSetup .NewGameSetup-modes > div {
      width: 350px;
      margin: 10px; }
  .NewGameSetup .NewGameSetup-actions {
    justify-content: center; }
