.NewGameSetup {

  margin-top: 25px;

  > div {
    padding: 10px;
  }

  .NewGameSetup-settings {
    display: flex;
    justify-content: center;
  }
  
  .NewGameSetup-modes {

    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin-top: 25px;

    > div {
      width: 350px;
      margin: 10px;
    }
  }

  .NewGameSetup-actions {
    justify-content: center;
  }
}