.GamePage {

  .Loader {
    position: relative;
    .Spinner {
      width: 100%;
      margin-top: 150px;
      position: absolute;
    }
  }

  .GamePage-main {
    display: flex;
    flex-flow: row-reverse wrap;
    justify-content: center;

    > div {
      margin: 50px 10px 10px 10px;
    }

    .GamePage-engine {

      position: relative;
      overflow-x: auto !important;

      > div:first-child {
        display: table;
        margin: 0 auto;
        border: 15px solid #F5F5F5;
      }

      .GamePage-solved {
        position: absolute;
        white-space: nowrap;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) rotate(-35deg);
        color: white;
        font-family: Impact;
        font-size: 57px;
        letter-spacing: 2px;
        text-shadow: 5px 5px 5px black;
      }
    }
  }
}