.AppDrawer-user {
  display: flex;
  flex-direction: column;
  text-align: center;
  font-size: 13px;
  padding: 10px; }
  .AppDrawer-user > div {
    margin: 2px; }
    .AppDrawer-user > div img {
      border-radius: 50%; }

.AppDrawer-content {
  width: 200px; }
