.AppDrawer {

  .AppDrawer-user {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 13px;
    padding: 10px;

    > div {
      margin: 2px;
      img { border-radius: 50%; }
    }
  }

  .AppDrawer-content {
    width: 200px;
  }
}