.Game .Game-on {
  display: flex;
  flex-flow: column wrap; }
  .Game .Game-on > div {
    display: flex;
    flex-direction: row; }
  .Game .Game-on .Game-dashboard {
    flex-wrap: wrap;
    justify-content: flex-start;
    padding: 5px;
    margin-top: 5px;
    margin-bottom: 15px; }
    .Game .Game-on .Game-dashboard > div {
      margin: 3px 5px 3px 5px; }
  .Game .Game-on .Game-navigation {
    align-items: center; }
    .Game .Game-on .Game-navigation > div {
      padding: 5px 10px 5px 10px; }
  .Game .Game-on .Game-frameContainer {
    overflow-x: auto;
    margin-top: 25px; }
  .Game .Game-on .Game-navigation, .Game .Game-on .Game-frameContainer {
    justify-content: center; }
