.AuthPage {
  display: flex;
  flex-direction: column;
  align-items: center;

  > * {
    padding: 15px;
    img {
      max-width: 100%;
    }
  }

  .AuthPage-welcomeImgContainer {
    margin-bottom: 25px;
  }
}