.GameDashboard {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  padding: 5px;

  > div {
    display: flex;
    margin: 5px;
  }
  
  > div:first-child {
    flex-flow: row wrap;
    justify-content: center;
    //padding: 5px;

    > div {
      margin-left: 5px;
      margin-right: 5px;
    }
  }

  > div:last-child {
    justify-content: flex-end;
  }
}